
/*
Theme Name: Administrate
Author: Anthony helou
Description: Administrate Test
Version: 0.0.1
Tags: bootstrap
*/


/* -------------FONT FACE and icons--------------- */
@font-face {
    font-family: "streamline";
    src: url(css/fonts/streamline-30px.woff);
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "streamline" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-profile-serviceman-2:before {
  content: "\e111";
}
.icon-window-check:before {
  content: "\e37a";
}
.icon-database-setting:before {
  content: "\e3a8";
}
.icon-bubble-smiley-1:before {
  content: "\e076";
}
.icon-setting-gears-2:before {
  content: "\e2b6";
}
.icon-document-1:before {
  content: "\e1f2";
}
.icon-award-4:before {
  content: "\e020";
}
.icon-award-6:before {
  content: "\e022";
}
body .icon {
    font-size: 40px;
    line-height: 1;
    margin-top: 11px;
}
.icon-primary {
    font-size: 40px;
    line-height: 1;
    margin-top: 44px;
    color: #1990ce;
}
/*------------------------*/
body {
    font-family: 'FontAwesome';
}
/*-------- menus ----------*/
.navbar-brand {
    color: #283436 !important;
    float: left;
    padding: 13px 75px;
    font-size: 28px;
    line-height: 22px;
    height: 48px;
}
.top_main_header_nav {
    height: 40px;
    background: #ecf0f1 none repeat scroll 0 0;
    padding: 0;
    margin-bottom: 15px;
}
.top_main_header_nav .navbar-default {
    background: none;
    border: 0px;
}
.top_main_header_nav .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
}
#bs-example-navbar-collapse-1{
    margin-bottom: 20px;
}
#menu-header-menu li > a {
    font-size:18px;
}
#menu-header-menu li:last-child a {
    background-color: #80be00;
    border-radius: 6px;
    color: #fff;
}
.navbar-default {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    border-top: 0px;
}
.menu-item >a.target:after {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #1990ce !important;
}
.top-menu {
    width:100%;
}
.top-menu ul>li {
    float:left;
}
.menu-header-top-menu-container {
    margin-right: 112px;
}
#menu-top-header-menu {
    margin-right: -96px;
}
/*-----------Pricing section-----------------*/
.pricing-options .currency {
    border: 1px solid #c1c1c1;
    float: right;
    text-align: left;
    width: 164px;
    position: relative;
    top: -30px;
}
.pricing-options .currency-title {
    float: left;
    width: 81px;
    border-right: 1px solid #c1c1c1;
    padding: 6px 10px;
    background: #f5f5f5;
    color: #334145;
    font-weight: bold;
}
.pricing-options .currency .selectric{
    border: 0px; 
    background: #FFF; 
    width:81px;
}
.pricing-options .currency .selectric .button {
    top: -5px;
    width: 24px;
    height: 40px;
    background-color: #FFF; 
    color: #444;
}
.pricing-options .currency .selectric .label {
    margin: -4px 0px 0 -15px;
    height: 35px;
}
.pricing-options .currency .selectric-items {
    left: 82px;
}
@media (max-width: 767px){
.pricing-options .currency {
    margin-bottom: 50px;
    margin-top: 20px;
    top: 0;
    width: 100%;
    z-index: 99;
}
.pricing-options .currency-title{
    width:50%;
}
.pricing-options .currency .selectric{
   width:50%; 
}
.pricing-options .currency .selectric-items{
    left: 272px;
}
}

.pricing-options .box {
    margin-bottom: 70px;
}
.pricing-options #enterprise {
    background-color: #3b3b3b;
    background-image: url(images/enterprise-box-img.png);
    background-repeat: no-repeat;
}
.pricing-options #enterprise .panel-body p {
    color:#fff;
    font-size: 19px;
    width: 200px;
    margin: 0 auto;
}
.pricing-options #enterprise .panel-body li {
    color: #d9d9d9;
    list-style: none;
}
.pricing-options .rule {
    width: 175px;
    margin: 0 auto;
    font-family: FontAwesome;
    color: #555;
    font-style: italic;
}
#enterprise .checkmark_stem {
    background-color: #80be00;
}
#enterprise .checkmark_circle {
    border: 1px solid #80be00;
}
#enterprise .checkmark_kick {
    background-color: #80be00;
}
.pricing-options #enterprise .panel-heading {
    background: none;
    border-color: #c1c1c1;
    color: #334145;
    font-size: 17px;
    color: #d9d9d9;
    border-bottom: 0px solid #c1c1c1;
}
.pricing-options #enterprise .panel-footer {
    background: none;
    border-top: 0px;
}
.pricing-options #enterprise .panel-footer .btn.btn-primary{
    border: 0px;
    width:100%;
}
.pricing-options .panel-body.third {
    height: 632px !important;
}
.pricing-options .include {
    width: 208px;
    margin: 0px auto;
    font-size: 18px;
    color: #666;;
    font-weight: lighter;
    font-style: italic;
}
.pricing-options .panel-footer {
    border : 0px;
    background-color: #fff;
}
.pricing-options {
    font-family: 'FontAwesome';
}
.pricing-options .panel-footer .btn.btn-success {
    border : 0px !important;
}
.pricing-options .feature_sec {
    float: left;
    height: 64px;
    width: 100%;
    position: relative;
}
.pricing-options .row .feature_sec img {
    height: 62px;
    margin-left: 5px;
    position: absolute;
    width: 97.8%;
}
.pricing-options .row .feature_title {
    color: #d9d9d9;
    font-size: 28px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 4px;
}
.pricing-options .col-xs-12.text-center > ul {
    padding-left: 36px;
    padding-top: 20px;
}
.pricing-options .panel-body li {
    list-style: none;
    text-align: left;
    color: #334145;
    margin-bottom: 5px;
}
.checkmark {
    display: inline-block;
    width: 20px;
    height: 12px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark_circle {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: none;
    border-radius: 11px;
    border: 1px solid #c1c1c1;
    left: 0;
    top: 0;
}
.checkmark_stem {
    background-color: #c1c1c1;
    height: 10px;
    left: 9px;
    position: absolute;
    top: 3px;
    width: 2px;
}
.checkmark_kick {
    background-color: #c1c1c1;
    height: 3px;
    left: 6px;
    position: absolute;
    top: 10px;
    width: 3px;
}
.pricing-options .panel-footer .btn.btn-success {
    width: 100%;
    text-decoration: none;
}
.btn-success {
    background-color: #80be00 !important;
    border-color: #6fa500;
}
.pricing-options .panel-primary > .panel-heading {
    background-color: #f5f5f5;
    border-color: #c1c1c1;
    color: #334145;
    font-size: 16px;
    border-bottom: 1px solid #c1c1c1;
    padding: 30px 12px 35px;
}
.pricing-options .panel .panel-body {
    border: 0px solid #dddddd;
}
.pricing-new-experiment .panel-primary .panel-body {
    padding: 10px !important;
}
.pricing-options .col_sm_half {
    width: 50%;
    float: left;
}
.pricing-options .panel-primary .panel-body h1 {
    font-size: 39px;
    padding-left: 25px;
}
@media (min-width: 1300px){
.pricing-new-experiment .panel-primary .panel-body h1 {
    font-size: 46.2px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}
}
.pricing-options .panel-body.first {
    height: 574px !important;
}
.pricing-options .currency_symbol {
    color: #666666;
}
@media (min-width: 1300px){
.pricing-new-experiment .panel-primary .panel-body small {
    font-weight: 300;
    font-size: 20px;
}
}
.pricing-options .panel-primary .panel-body h1 p.pull-left {
    font-size: 18px;
    text-align: center;
    width: 82px;
}
.pricing-options .panel-primary .panel-body h1.pull-right p {
    margin-top: 0px;
    font-weight: bold;
}
.pricing-options .panel-primary .plus-announcment {
    margin: -37px -1px 0px;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

 .panel-primary .plus-announcment {
    background-color: #80be00;
    margin-top: -20px;
    color: white;
}
.pricing-options .section {
    padding-top: 10px;
    border-bottom: 0px;
    padding-bottom: 20px;
}
.section {
    background: #ffffff;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    padding-top: 75px;
    padding-bottom: 75px;
}
.pricing-options .main_title {
    margin-top: 30px;
    margin-bottom: 70px;
}
#copyright {
    border-top: 1px solid #484848;
    padding: 20px 0;
    margin-top: 30px;
    height: 130px;
}
#copyright p {
    color: #FFF;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}
.horizontal-list {
    left: 50%;
    top: 50%;
    margin-left: -204px;
    margin-top: -10px;
    position: absolute;
    width: 454px;
}
.horizontal-list li {
    border: 1px solid #FFF;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    color: #777777;
    font-size: 16px;
    display: inline-block;
    margin-right: 37px;
}
.horizontal-list li a {
    font-size: 22px;
    width: 35px;
    height: 35px;
}

/*-----------Plans section-----------*/
.section-plans {
    background-color: #fafafa;
    background: #fafafa;
    padding-top: 44px;
    padding-bottom: 44px;
    border-bottom: 1px solid #dddddd;
}
.section-plans p {
    font-size: 17px;
}

/*------------footer------------------*/
#pre-footer {
    background-color: #3B3B3B;
    padding: 30px 0;
}
#pre-footer p {
    margin: 0px;
}
.text-white {
    color: #fff;
}
footer, .footer {
    background: #2e2e2e;
    background-color: #2e2e2e;
    padding-top: 30px;
    color: #ffffff;
}
#footer h4 {
    color: #777777;
}
#footer ul li {
    padding-bottom: 3px;
}
footer li, .footer li {
    list-style-type: none;
    font-size: 14px;
}
footer ul, .footer ul {
    padding-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
}
#footer ul li a {
    color: #cfcfcf;
}
footer p, .footer p, footer small, .footer small, footer a, .footer a {
    font-weight: 400;
    color: white;
}
h5 {
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 0;
    line-height: 1.2;
    color: #334145;
}
 h1 {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 0;
}
#pre-footer b {
     font-size: 22px;
}
#pre-footer p {
    font-weight: bold;
}